body {
    font-family: Arial, sans-serif;
    background-color: beige;
    padding: 20px;
}

#welcome{
    color: darkblue;
    text-align: center;
}

#todo-form{
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;

    border: 1px solid darkblue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

#todo-form input,#todo-form textarea,#todo-form select{
    padding:10px;
    font-size:16px;
}

#todo-form button{
    padding: 10px;
    font-size: 16px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#task-list{
    max-width:700px;
    margin: 20px auto;
}